name: Generate Metrics

on:
  schedule: [{cron: "0 */24 * * *"}]  # обновление раз в сутки
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          template: classic
          base: header, activity, community, repositories, metadata
          plugins: languages
          plugin_languages: yes
          plugin_languages_ignored: html, css
